/* Fuente de letra: */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Raíz de colores: */
:root {
    /* CSS HEX */
    --shamrock-green: #4c9f70ff;
    --cerulean: #077187ff;
    --school-bus-yellow: #f1d302ff;
    --fire-engine-red: #c42021ff;
    --night: #0a0a0aff;
    --white: #ffffffff;
    --grey: #cbc0adff;
}

/* Estilos generales: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li{
    padding: 0.25rem 0;
}

.centrado {
    margin: 0 auto;
    width: 70%;
    min-width: 1200px;
}

.btn {
    color: var(--night);
    padding: 0.5rem;
    font-weight: 400;
    transition: 0.5s ease-in-out;
}

section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ######################################## Header ######################################## */
header {
    padding: 0.5rem 0;
    background-color: var(--fire-engine-red);
}

header .centrado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 3rem;
}

header a {
    color: var(--night);
}

header .centrado div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 2rem;
}


header nav a {
    border: var(--night);
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    transition: 0.5s ease-in-out;
}


header nav a:hover {
    background-color: var(--night);
    color: var(--white);
}

/* ######################################## Hero Section ######################################## */
#heroSection {
    background: var(--grey) url(/img/HeroSection.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    height: 40rem;
    padding: 10rem 0;
    /* ########################################################### */
    display: flex;
}

#heroSection .centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--white);
}

#heroSection .centrado p {
    font-size: 1.5rem;
}

#heroSection .centrado a {
    margin-top: 2rem;
    border: 1px solid var(--night);
    border-radius: 1rem;
    font-size: 1.5rem;
}

#heroSection a:hover {
    background-color: var(--night);
    color: var(--white);
}

/* ######################################## Section1 ######################################## */
#section1 {
    background-color: var(--night);
    color: var(--white);
    text-align: center;
    padding: 3rem 0;
}

#section1 h2 {
    padding-bottom: 3rem;
    font-size: 2.5rem;
}

#section1 .centrado {
    display: flex;
    gap: 2rem;
}

#section1 .centrado article {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#section1 .centrado h3 {
    margin-top: 0.75rem;
}


#section1 .centrado p {
    margin-top: 0.5rem;
}

#section1 .centrado img {
    height: 20rem;
    object-fit: cover;
}

#section1 .centrado a {
    margin-top: 2rem;
    border: 1px solid var(--night);
    border-radius: 0.75rem;
    font-size: 1rem;
}

#section1 a:hover {
    background-color: var(--night);
    color: var(--white);
}

#section1 .centrado article div {
    background-color: var(--fire-engine-red);
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    align-items: flex-start;
    text-align: start;
}

/* ######################################## Section2 ######################################## */
#section2 {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, var(--night) 0%, var(--cerulean) 100%);
    color: var(--white);
    padding: 3rem 0;
}

#section2 h2 {
    padding-bottom: 3rem;
    font-size: 2.5rem;
    text-align: center;
}

#section2 h3 {
    font-size: 1.5rem;
}

#section2 p {
    text-align: center;
}

#section2 .centrado {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}

#section2 .centrado article {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    background-color: var(--cerulean);
    padding: 2rem;
    border: 1px solid var(--grey);
    border-radius: 1rem;
    flex: 1;
}

#section2 .centrado article p {
    text-align: start;
}

#section2 .centrado article span {
    font-size: 2.8rem;
}

#section2 .centrado article ul {
    list-style: disc;
    padding-left: 1.5rem;
}

#section2 .centrado article a {
    background-color: var(--night);
    color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    transition: 0.5s ease-out;
}

#section2 .centrado article a:hover {
    background-color: var(--grey);
    color: var(--night);
    font-size: 1.2rem;
}

/* ######################################## Section3 ######################################## */
#section3 {
    background: rgb(76, 159, 112);
    background: linear-gradient(0deg, rgba(76, 159, 112, 1) 50%, rgba(7, 113, 135, 1) 100%);
}

#section3 h2 {
    padding-bottom: 3rem;
    font-size: 2.5rem;
    text-align: center;
}

#section3 .grid {
    display: grid;
    gap: 2rem;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
}

#section3 .grid article {
    width: 100%;
    height: 100%;
}

#section3 .grid article figure {
    width: 100%;
    height: 100%;
}

#section3 .grid article:first-of-type {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* ######################################## Section4 ######################################## */
#section4 {
    background: linear-gradient(0deg, rgba(241, 211, 2, 1) 0%, rgba(76, 159, 112, 1) 100%);
    display: flex;
    /* height: 100vh; */
    align-items: center;
    padding-bottom: 5rem;
}

#section4 h2,
#section4 p {
    text-align: center;
}

#section4 h2 {
    padding: 3rem 0;
    font-size: 2.5rem;
}

#section4 .centrado {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#section4 .centrado {
    display: flex;
    justify-content: flex-start;
}

#section4 .centrado .proximosViajes {
    display: flex;
    gap: 8rem;
}

#section4 .centrado article {
    display: flex;
    justify-content: space-between;
}

/* ############################ Formulario ############################ */
form {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    width: 100%;
}

.checkbox {
    margin: 1rem 0;
}

.button {
    width: 100%;
    color: var(--shamrock-green);
    background-color: var(--night);
    padding: 0.75rem;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    border-style: none;
}

.button:hover {
    background-color: var(--cerulean);
    color: var(--white);
}

form .flex {
    display: flex;
    gap: 1rem;
}

.form-group {
    margin-top: 1rem;
    width: 100%;
}

.form-group label {
    display: block;
}

.form-group textarea {
    height: 12rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 10px;
    border: 0.2rem;
    background-color: var(--shamrock-green);
    font-size: 1rem;
}

/* ############################ Tabla ############################ */
table {
    width: 100%;
}

#section4 .centrado table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--shamrock-green);
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;
}

#section4 thead {
    text-transform: uppercase;
}

#section4 thead tr{
    border-radius: 1rem 1rem 0 0;
}

#section4 thead tr,
#section4 tbody tr {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    padding: 1.5rem 0;
}

#section4 thead th,
#section4 tbody td {
    flex: 1;
}

/* nth-child: odd and even */
#section4 tr:nth-child(odd) {
    background: linear-gradient(0deg, rgba(40,70,53,1) 0%, rgba(65,110,84,1) 100%);
}

#section4 tbody {
    display: flex;
    flex-direction: column;
    
}

/* ######################################## Footer ######################################## */
footer {
    padding: 0.5rem 0;
    background-color: var(--school-bus-yellow);
}

footer .centrado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 3rem;
}

footer a {
    color: var(--night);
}

footer .centrado div {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ############# */